* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  font-size: 16px;
  max-width: 100%;
  width: 1200px;
  overflow-x: hidden;
  padding: 10px;
  margin: 0 auto;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  min-height: 100vh;
}
.btn-container {
  display: flex;
  justify-content: center;
  margin: 1rem;
  flex-wrap: wrap;
}
.filter-btn {
  background-color: #f8f8f8;
  padding:  1.3rem;
  margin:   0.3rem;
  font-size: .8rem;
  border-radius: 25px;
  cursor: pointer;
  border: 1px solid #dad1d15a;
  transition: all 0.4s ease;
}
.filter-btn:hover {
  background-color: #e74c3c;
  color: #f4f4f4;
  transition: scale(1);
  border: 1px solid #331c1c7a;
}
.filter-btn.highlight {
  background-color: #e74c3c;
  color: #f4f4f4;
  border: 1px solid #331c1c7a;
  
}
.menu.section {
  background-color: #f4f4f4;
  padding: .5rem;
  border: 10px;
  width: 100%;
}
.menu-item {
  background-color: #f4f4f4;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;

}
.menu-item:hover {
  transform: translateY(-10px);
}
.item-info {
  padding: 1rem;
  text-align: center;
}
.item-info header h4 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #333333;
  margin-bottom: 1rem;
}
.item-info header .price {
  color: #e74d3cac;
  font-weight: 600;
}
.item-info header .price:hover {
  color: #e74c3c;
}
.item-text {
  font-size: 1rem;
  color: #55555582;
  margin-top: 1rem;
}
.photo {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}
.title {
  text-align: center;
  margin-bottom: 2rem;
}

.title h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #333;
}

.title .underline {
  width: 150px;
  height: 4px;
  background-color: #e74c3c;
  margin: 10px auto;
}
.section-center {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

  gap: 2rem;
  margin-top: 2rem;
}
